body{
    margin: 0px;
    padding: 0px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-image: url("img/homebackground.png"); */

  background-size: 500px 500px;
  background-repeat: repeat;
}

header {
  color: white;
  /* background-color: rgb(200,217,237); */
  background-color: rgba(180, 180, 180, 0.274);
  /* box-shadow: inset -3px -5px 20px 0px rgba(15, 14, 14, 0.153) */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}

.brand a {
  font-size: 1.5em;
  color: rgb(16, 3, 3);
  text-decoration: none;
  font-family: "Goudy Bookletter 1911", serif;
  font-family: "Pacifico", cursive;
}

nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: flex;

  /* display: none; */
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 4px;
  margin: 4px;

  /* font-weight: bold; */
}
nav ul li:nth-child(5) a {
  border: 2px solid rgb(121, 121, 121);
  border-radius: 5px;
}

nav ul li a:hover {
  text-decoration: underline;
}
footer {
   background-color: rgba(180, 180, 180, 0.274);
  /* background-color: whitesmoke; */
  color: black;
  text-align: center;
  padding: 1em 0;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
}

.footer-content ul.socials {
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
}

.footer-content ul.socials li {
  margin: 0 0.5em;
}

.footer-content ul.socials li a {
  color: black;
  text-decoration: none;
}
.policy ul{
   list-style-type: none;
   
}
.policy ul li{
  margin: 4px 10px;
  float: left;
}
.policy ul li a{
  text-decoration: none;
  color: black;
  
}
.policy ul li a:hover{
  text-decoration: underline;
  color: black;
  
}
main{
  height: 100vh;
}